.lgbox {
  justify-content: center;
  border: 1px solid black;
  width: 600px;
  height: 210px;
  margin-top: 50px;
}

.zone {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-top: 55px;
  border: 1px solid red;
  display: inline-block;
  text-align: center;
}

.zone:hover {
  background-color: darkgrey;
}

.namezone {
  display: block;
  margin-top: 40px;
}

.btnback {
  cursor: pointer;
  width: 150px;
  height: 60px;
  background-color: darkorange;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
}
